@model EventAttendanceAdmin.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i class="fa fa-calendar-check-o large"></i>&nbsp;Event Attendance</h1>
    <p class="lead">Easily track campus event attendance using student mobile devices and QR codes.</p>
    <p><a href="@Url.Action("Create", "Event")" class="btn btn-primary btn-lg">Create an event &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Active Events</h2>
        <table class="table">
            @foreach (var item in Model.ActiveEvents)
            {
                <tr onclick='window.location.href = "@Url.Action("Details", "Event", new { id = item.Id })"' class="clickable">
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                        @if (!string.IsNullOrEmpty(item.Location))
                        {
                            <text>&#64;</text> @Html.DisplayFor(modelItem => item.Location)
                        }
                        <br />
                        @Html.DisplayFor(modelItem => item.Start) to @Html.DisplayFor(modelItem => item.End)
                    </td>
                </tr>
            }
        </table>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Event")">View all &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Upcoming Events</h2>
        <table class="table">
            @foreach (var item in Model.ActiveEvents)
            {
                <tr onclick='window.location.href = "@Url.Action("Details", "Event", new { id = item.Id })"' class="clickable">
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                        @if (!string.IsNullOrEmpty(item.Location))
                        {
                            <text>&#64;</text> @Html.DisplayFor(modelItem => item.Location)
                        }
                        <br />
                        @Html.DisplayFor(modelItem => item.Start) to @Html.DisplayFor(modelItem => item.End)
                    </td>
                </tr>
            }
        </table>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Event")">View all &raquo;</a></p>
    </div>
</div>